.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  width: 100%;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 829px;
  width: 100%;
}


.changeButtons {
  align-items: center;
  column-gap: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  max-width: 418px;
  width: 100%;
}

.containerResult {
  align-items: flex-end;
  column-gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  max-width: 980px;
  padding: 0;
  width: 100%;
}
