.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  width: 100%;
}

.container {
  column-gap: 12px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 567px;
}

.containerResult {
  column-gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  max-width: 944px;
  padding: 0;
  row-gap: 72px;
  width: 100%;
}
